* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

svg {
  fill: gray;
}

/* Crea a partir de aquí tu CSS */
@keyframes like {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.like {
  animation: like 125ms;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
  animation-direction: alternate;

  fill: red;
  transition: fill 0.5s;
}
