* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  height: 50vh;
  background-color: lightblue;
}

header {
  height: 10rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  height: 5rem;
  background-color: lightpink;
}
