body {
  background: rgba(173, 216, 230, 0.416);
}

div {
  border: 1px solid blue;
  height: 10rem;
  width: 10rem;
  margin: 2rem;
}

div:nth-child(1) {
  /* desplazamiento horizontal | deplazamiento vertical | difusion | color */

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

div:nth-child(2) {
  /* desplazamiento horizontal | deplazamiento vertical | difusion | color */

  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.624);

  border-radius: 1rem;
}

div:nth-child(3) {
  /* desplazamiento horizontal | deplazamiento vertical | difusion | color */

  box-shadow: 0 0 5px rgba(0, 246, 242, 0.624);
}

div:nth-child(4) {
  /* desplazamiento horizontal | deplazamiento vertical | difusion | color */

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.624);
}

div:nth-child(5) {
  /* desplazamiento horizontal | deplazamiento vertical | difusion | color */

  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.624);
}

div:nth-child(6) {
  /* desplazamiento horizontal | deplazamiento vertical | difusion | color */

  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.624);
}

div:nth-child(7) {
  /* desplazamiento horizontal | deplazamiento vertical | difusion | color */

  box-shadow: 3px 3px 5px rgba(17, 48, 255, 0.624),
    6px 6px 7px rgba(239, 17, 255, 0.624),
    -3px -3px 5px rgba(255, 17, 17, 0.624),
    inset 3px 3px 5px rgba(0, 0, 0, 0.624);
}

div:nth-child(8),
img {
  filter: drop-shadow(3px 3px 3px black);
}
